<div id="<%= dom_id tuesday12decemer %>">
  <p>
    <strong>Name:</strong>
    <%= tuesday12decemer.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= tuesday12decemer.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= tuesday12decemer.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= tuesday12decemer.phone %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tuesday12decemer.description %>
  </p>

  <p>
    <strong>Personaldata:</strong>
    <%= tuesday12decemer.personaldata %>
  </p>

</div>
