<p style="color: green"><%= notice %></p>

<%= render @tuesday12decemer %>

<div>
  <%= link_to "Edit this tuesday12decemer", edit_tuesday12decemer_path(@tuesday12decemer) %> |
  <%= link_to "Back to tuesday12decemers", tuesday12decemers_path %>

  <%= button_to "Destroy this tuesday12decemer", @tuesday12decemer, method: :delete %>
</div>
